# This group is read by the server
[clinet-server]
port=3306

# # This group is read by the client
# [client]

# This group is read by the server
[mysqld]
user=mysql
datadir=/var/lib/mysql
skip-host-cache
# skip-grant-tables=1
bind-address=0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
